/*--------------------------
General
--------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font: normal 16px 'Roboto', sans-serif;

  color: #555;
}
body {
  line-height: 1;
}
ul, nav {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;

  opacity: .6;
  color: inherit;
}

a:hover,
a:focus {
  opacity: 1;
}

/*--------------------------
Header
--------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  height: auto;
  min-height: 120px;
  padding: 0 5% 0;

  color: #4a86e8;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}
.header p {
  font-size: 1.5em;
  font-weight: 400;
}
.header p:after {
  content: " ·";
}
.header p:before {
  content: "· ";
}
.header .header-title {
  font-size: 2em;
  font-weight: 700;

  margin: .4rem 0;

  color: #24292e;
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav .nav-item {
  margin: 0 15px;
}

.header .nav .nav-item:first-child {
  margin-left: 0;
}

.header .nav .nav-item:last-child {
  margin-right: 0;
}

/*--------------------------
Section and Articles
--------------------------*/
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  padding-top: 2em;
  padding-right: 4%;
  padding-left: 4%;

  color: #fff;
  background-color: #192539;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}


section.projects {
  color: #192539;
  background-color: #fff;
}
section .article {
  margin-bottom: 2em;
  padding: 2em;

  text-align: justify;

  background-color: #4a86e8;
}
section .subtitle {
  font-size: 1.8em;
  font-weight: 300;

  margin: .2rem 0;
  padding-bottom: 2rem;
}
section .subtitle:before {
  content: "+ ";
}

.article-text,
.article-link {
  margin: .6rem 0;
}

.article-text {
  font-size: 1rem;
}
.article-link {
  font-size: .9em;
}

/*--------------------------
Footer
--------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 2.5em 5% 2.5em;

  color: #fff;
  background-color: #24292e;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  width: 40%;

  text-align: center;

  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.social .social-item {
  display: inline-block;

  list-style: none;

  text-align: center;
}
.social .social-item {
  margin: 0 7px;
}
.social .social-item:first-child {
  margin-left: 0;
}

.social .social-item:last-child {
  margin-right: 0;
}
.social-link {
  display: block;

  height: 32px;
}
