@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100);

/***
Geral style */
h1,
h3,
p
{
  font-family: 'Roboto Mono', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 400;
}

h1,
h3
{
  color: #fff;
}

p
{
  font-size: 15px;

  top: 10px;

  color: #bbb;
}

a
{
  text-decoration: none;

  color: #f05c38;
}
a:hover, a:focus
{
  border-bottom: 2px solid #f05c38;
}

/***
Grid style with flex-box */
.row,
.col
{
  display: -webkit-box;
  display:    -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:         flex;

  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.row
{
  position: relative;

  overflow: hidden;

  width: 100%;
  min-height: 185px;
}
.row:last-child
{
  border-top: 1px dotted lightgrey;
}
.row.image
{
  height: 400px;
}
.col
{
  width: 33%;
}
@media only screen and (max-device-width: 768px)
{
  .row
  {
    flex-wrap: wrap;
  }
  .col
  {
    width: 50%;
  }
}
@media only screen and (max-device-width: 480px)
{
  .col
  {
    width: 80%;
  }
  .description
  {
    font-size: 14.85px;
  }
}

/***
Header style [title, subtitle, links and image] */
.header
{
  position: absolute;
  z-index: 10;
  top: 40px;

  width: 100%;

  text-align: center;
}
.header h1
{
  font-size: 25px;

  margin-bottom: 3px;
}
.header h3
{
  font-size: 16px;
  font-weight: 100;

  margin-top: 0;
}
.header a
{
  color: #fff;
  border-bottom: 3px solid rgba(240, 92, 56, .25);
}
.header a:hover, .header a:focus
{
  color: #f05c38;
  border-bottom: 3px solid #f05c38;
}

.image
{
  background: url('top.jpg') no-repeat;
  background-size: 100%;
}

/***
Footer style [License, author, and links to Twitter/GitHub] */
.footer
{
  margin-top: 50px;
  margin-bottom: 15px;

  text-align: center;
}
.footer p
{
  font-size: 12px;

  width: 100%;
  margin: 0;
}

/***
Main style [Projects List] */
.project
{
  position: relative;

  max-height: 280px;
}
.project .container-inner
{
  width: 90%;
  margin: 6px;

  background: #fff;
  min-height: 200px;
}
.project .container-inner h2
{
  color: #121212;
}
